@import "tailwindcss";
@plugin '@tailwindcss/typography';
@custom-variant dark (&:where(.dark, .dark *));

code > span.line {
  color: #e2e8f0; /* slate-200 */
}

/* Make all images in markdown content responsive */
.markdown-content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; /* Optional: center images */
}

.img-row {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap; /* Allows wrapping on small screens */
  margin: 6rem auto;
}

.img-row img {
  width: 100%;
  height: auto;
  display: block;
  /* Optional: add a little border-radius or box-shadow for style */
}

.img-row figure {
  max-width: 48%;
  flex: 1 1 48%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-row figcaption {
  font-size: 0.9rem;
  color: #b2bbbe;
  text-align: center;
  margin-top: 0.5rem;
}

.img-row figcaption a {
  color: inherit;
}

/* Add equal space above and below markdown h2 and h3 headings */

.prose h2{
  margin: 6rem auto;
}

@media (max-width: 800px) {
  .img-row  {
    gap: 5rem;
  }

  .img-row img {
    max-width: 100%;
  }
  .img-row figure {
    max-width: 100%;
    flex-basis: 100%;
  }
}
